<a href='#landing'>
    <h1 class='home-title'>PINE TREE PICTURES</h1>
</a>

<div class="footer-content">
    <a href='https://instagram.com/ptreepictures' target="_blank">
        <i class="fab fa-instagram"></i>
    </a>
    <p class="footer-dots"> •  •  •  •  •  •  •  •  •</p>
    <a href='/contact'>
    <p class="footer-contact">Contact Us</p>
    </a>
</div>

<style>
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-dots {
        color: rgb(101, 101, 101);
        font-size: 12px;
        letter-spacing: 2px;
    }
    .fab {
        font-size: 2em;
    }
    .footer-contact {
        margin: 0;
    }
</style>