<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149767623-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-149767623-1');
	</script>
	<title>Pine Tree Pictures</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta property="og:site_name" content="Pine Tree Pictures" />
	<meta property="og:title" content="Pine Tree Pictures" />
	<meta property="og:description"
		content="Full house production company that has had videos featured on Times Square, MTV, CMT and in Rolling Stone Magazine.">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" href="/favicon.ico" />
	<meta property="og:image" content="https://i.ibb.co/pXwgWw4/og.png" />
	<link rel="apple-touch-icon" href="/public/512.png" />
	<meta property="og:url" content="https://pinetreepictures.com/" />
	<meta property="og:type" content="website" />
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" type="text/css" href="./styles/styles.css">

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/d4ac73a3ed.js" crossorigin="anonymous"></script>
</head>