<div class='contact-page'>
    <nav class="navbar">
        <input type='checkbox' id='nav' class='hidden'>
        <label for="nav" class="nav-btn">
            <i></i>
            <i></i>
            <i></i>
        </label>
        <a href='/' ><p class="logo hoveronly">PINE TREE PICTURES</p></a>
        <div class="nav-wrapper">
            <ul>
                <div>
                    <li><a class="header-text hover" href='/'><p>Home</p></a></li>
                    <li><a class="header-text hover" href='/director'><p>Director</p></a></li>
                    <li><a class="header-text hover" href='/producer'><p>Producer</p></a></li>
                    <li><a class="header-text hover" href='/editor'><p>Editor</p></a></li>
                    <li><a class="header-text hover" href='/photographer'><p>Photographer</p></a></li>
                    <li><a class="header-text active" href='/contact'><p>Contact</p></a></li>
                </div>
                <div>
                    {{!-- <a target='_onblank' href='https://www.linkedin.com/in/zaidiasim/'><i class="icon hover fab fa-linkedin"></i></a>
                    <a target='_onblank' href='https://github.com/awesomezaidi'><i class="icon hover fab fa-github"></i></a>
                    <a target='_onblank' href='https://medium.com/@asimzaidi'><i class="icon hover fab fa-medium"></i></a>
                    <a target='_onblank' href="mailto:asimzaidih@gmail.com"><i class="icon hover fas fa-envelope"></i></a> --}}
                </div>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="write-us">
            <p>Write Us</p>
        </div>

        <form class="contact-form" method="POST" action="/contact">
            <input type='text' name='name' placeholder="Your Name"></input>
            <input type='email' name='email' placeholder="Your Email"></input>
            <input type='text' name='phone' placeholder="Your Number"></input>
            <input type='text' name='message' placeholder="Your Message"></input>
            <button id='sendButton' type='submit' class="btn_primary">Send</button>
        </form>
    </div>
</div>

<style>
    nav {
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hover:hover  {
        color: #1F3822;
        border-bottom: 2px solid #1F3822;
    }
    .hoveronly:hover {
        color: #1F3822;
        text-shadow: none;
    }
    .active {
        color: #1F3822;
        border-bottom: 2px solid #1F3822;
    }
    a {
        text-decoration: none !important;
        color: #EEF0F2;
    }
    label {
        display: none;
    }
    .logo {
        font-size: 1.4em;
        letter-spacing: 3.2px;
        font-weight: bold;
        color: #0B0B0B;
        text-shadow:
		-1.2px -1.2px 0 #EEF0F2,
		1.2px -1.2px 0 #EEF0F2,
		-1.2px 1.2px 0 #EEF0F2,
        1.2px 1.2px 0 #EEF0F2;
        text-align: left; 
        margin-left: 16px;
        padding: 0;
        cursor: pointer;
    }
    .logo a {
        color: #EEF0F2;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0px;
        text-decoration: none;
    }
    .nav-wrapper {
        display: flex;
        flex-direction: column;
    }
    nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    nav ul li {
        display: inline-block;
        float: left;
    }
    nav ul li:not(:first-child) {  
        margin-left: 48px; 
    }
    nav ul li:not(:first-child) {  
        margin-right: 24px; 
    }
    nav ul li a {  
        display: inline-block;
        outline: none;
        color: #EEF0F2;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 1.2px;
        font-weight: 600;
    }
    @media screen and (max-width: 864px) {
        nav {
            display: block;
        }
        label {
            display: block;
        }
        .logo {
            color: #EEF0F2;
            margin-left: 1.2em;
            font-size: 1.2em;
            letter-spacing: 1.2px;
            font-weight: bold;
            letter-spacing: 1px;
            text-shadow: none;

        }
        .nav-wrapper {
            z-index: -100;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0B0B0B;
            opacity: 0;
            transition: all 0.2s ease;
        }
        .nav-wrapper ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
        nav ul {
            display: block;
        }
        nav ul li {
            display: block;
            float: none;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
        }
        .nav-wrapper ul li:nth-child(1) a  {  
            transition-delay: 0.2s;        
        }
        .nav-wrapper ul li:nth-child(2) a  {  
            transition-delay: 0.3s;        
        }
        .nav-wrapper ul li:nth-child(3) a  {  
            transition-delay: 0.4s;        
        }
        .nav-wrapper ul li:not(:first-child) {  
            margin-left: 0px; 
        }
        .nav-wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: #EEF0F2;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;
        }
        .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;
        }
        .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: #EEF0F2;
            border-radius: 2px;
            margin-left: 14px;
        }
        .nav-btn i:nth-child(1) {
            margin-top: 16px;
        }        
        .nav-btn i:nth-child(2) {
            margin-top: 4px;
            opacity: 1; 
        }
        .nav-btn i:nth-child(3) {
            margin-top: 4px;
        }
        nav ul li a {  
            display: inline-block;
            outline: none;
            color: #EEF0F2;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 14px;
            letter-spacing: 1.2px;
            font-weight: 600;
        }
    }

    #nav:checked + .nav-btn{
        transform: rotate(45deg);
    }
    #nav:checked + .nav-btn i {
        background-color: white;
        transition: transform 0.2s ease;
    }
    #nav:checked + .nav-btn i:nth-child(1) {
        transform: translateY(6px) rotate(180deg);
    }
    #nav:checked + .nav-btn i:nth-child(2) {
        opacity: 0;
    }
    #nav:checked + .nav-btn i:nth-child(3) {
        transform: translateY(-6px) rotate(-90deg);
    }
    #nav:checked ~ .nav-wrapper {
        z-index: 9990;
        opacity: 1;
    }
    #nav:checked ~ .nav-wrapper ul li a {
        opacity: 1;
        transform: translateX(0);
    }
    .hidden {
        display: none;
    }
    * {
        box-sizing: border-box;
    }
    html,body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
    }
    body {
        font-family: "AvenirNext-Regular", serif;
        background-position: center;
        background-size: cover;
    }
</style>


<script>
    document.getElementById("sendButton").addEventListener("click", function(event){
        event.preventDefault();
    });
    $("#sendButton").click(function() {
        $("#sendButton").html('Contacted.');
        $("#sendButton").prop("disabled", true);
    });
</script>