<div id="loading"></div>


{{!-- <div class="landing"> --}}
<div class='landing' id='landing'>
    <div class='content'>
        <h1 class='home-title'>PINE TREE PICTURES</h1>
        <p class='home-slogan'>Full house production company featured on <span class="gray">Times
                Square</span>, <span class="gray">MTV</span>, <span class="gray">CMT</span> and
            in <span class="gray">Rolling Stone Magazine</span></p>
        {{!-- <div class="menu"> --}}
        {{!-- <a href='#director'><p>Director</p></a>
            <a href='#producer'><p>Producer</p></a>
            <a href='#editor'><p>Editor</p></a>
            <a href='#photographer'><p>Photographer</p></a> --}}
        {{!-- <a href='/contact'><p id='contact'>Contact</p></a> --}}
        {{!-- </div> --}}
    </div>
</div>
<div id='director' class="individual-section">
    <div class="title-display">
        <p class="dots">• • • • • • • • • • • • • • • • • </p>
        <a href='https://bobbyhanaford.com' target="_blank">
        <h2 class='work-title'>Director <span class='work-name'>
            Bobby Hanaford
        </span></h2></a>
    </div>
    <div id='workGridContainer' class="work-grid-container">

        <div id='d_videoOne' class="image-container">
            <img class="bg" src='/images/director/direc3.jpg'></img>
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Call Me Karizma<br /><span
                        class="video-title">Rebels</span></p>
            </div>
        </div>
        <div id='d_videoSeventeen' class="image-container">
            <img class="bg" src='/images/director/direc2.jpeg'></img>
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Greyson Chance<br /><span class="video-title">White
                        Roses</span></p>
            </div>
        </div>
        <div id='d_videoFiveOne' class="image-container">
            <img class="bg" src='/images/director/direc33.jpg'></img>
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">John Legend<br /><span class="video-title">Love in Las Vegas The Residency</span></p>
            </div>
        </div>
        <div id='d_videoZero' class="image-container">
            <img class="bg" src='/images/director/direc1.jpg'></img>
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Vic Mensa<br /><span class="video-title">Dark
                        Things</span></p>
            </div>
        </div>


{{!-- bottom 4 row --}}
        <div id='d_videoFive' class="image-container hidden">
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Anthony Ramos<br /><span class="video-title">
                        Say Less</span></p>
            </div>
            <img class="bg" src='/images/director/direc32.jpg'></img>
        </div>
        <div id='d_videoSeven' class="image-container hidden">
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Witt Lowry x Ava Max<br /><span
                        class="video-title">Into Your Arms</span></p>
            </div>
            <img class="bg" src='/images/director/direc7.jpg'></img>
        </div>
        <div id='d_videoTwentySeven' class="image-container hidden">
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Theophilus London<br /><span
                        class="video-title">Pretty</span></p>
            </div>
            <img class="bg" src='/images/director/direc27.png'></img>
        </div>
        <div id='d_videoTwelve' class="image-container hidden">
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Greyson Chance<br /><span class="video-title">Shut
                        Up</span></p>
            </div>
            <img class="bg" src='/images/director/direc12.png'></img>
        </div>
{{!-- bottom 4 row --}}

        <div id='d_videoDram' class="image-container hidden">
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Dram x Trippie Redd<br /><span class="video-title">Ill
                        Nana</span></p>
            </div>
            <img class="bg" src='/images/director/direc5.png'></img>
        </div>
        <div id='d_videoRichKid' class="image-container hidden">
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Rich the Kid x Miguel x TY$<br /><span
                        class="video-title">Woah</span></p>
            </div>
            <img class="bg" src='/images/director/direc4.png'></img>
        </div>

        <div id='d_videoMarc' class="image-container hidden">
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Marc E. Bassy<br /><span
                        class="video-title">Trouble</span></p>
            </div>
            <img class="bg" src='/images/director/trouble.png'></img>
        </div>

        <div id='d_videoJer' class="image-container hidden">
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Sevyn Streeter ft. Jeremih<br /><span
                        class="video-title">Wet Dreamz</span></p>
            </div>
            <img class="bg" src='/images/director/jer.png'></img>
        </div>

        <div id='d_videoJohnnyLove' class="image-container hidden">
            <img class="bg" src='/images/director/direcJohnnyLove.png'></img>
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Johnny Drille<br /><span class="video-title">loving is harder</span></p>
            </div>
        </div>


        <div id='d_videoKevWoo' class="image-container hidden">
            <img class="bg" src='/images/director/direcKevWoo.png'></img>
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Kevin Woo<br /><span class="video-title">GOT IT</span></p>
            </div>
        </div>
        <div id='d_videoMMC' class="image-container hidden">
            <img class="bg" src='/images/director/direcDesRocks.png'></img>
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Des Rocks<br /><span class="video-title">MMC</span></p>
            </div>
        </div>

        <div id='d_videoLayto' class="image-container hidden">
            <img class="bg" src='/images/bg6.jpg'></img>
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Layto<br /><span class="video-title">Twenty Seven</span></p>
            </div>
        </div>
    </div>
    <p id='directorSeemore' class='seemore'>__See More__</p>
</div>

<div id='producer' class="individual-section">
    <div class="title-display">
        <p class="dots">• • • • • • • • • • • • • • </p>
        <a href="https://www.aidenmagarian.com/" target="_blank">
            <h2 class='work-title'>Producer <span class='work-name'>Aiden Magarian</span></h2>
        </a>
    </div>
    <div id='workGridContainer' class="work-grid-container">
        <div id='p_videoOne' class="image-container">
            <img class="bg" src='/images/producer/prod5.jpg'></img>
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">KIA<br /><span class="video-title">Give It
                        Everything</span></p>
            </div>
        </div>

        <div id='p_videoTwo' class="image-container">
            <img class="bg" src='/images/producer/prod8.jpeg'></img>
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Grimes<br /><span class="video-title"></span>Shinigami Eyes</p>
            </div>
        </div>
        <div id='p_videoThree' class="image-container">
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Ariana Grande<br /><span class="video-title">35+35 Remix</span></p>
            </div>
            <img class="bg" src='/images/producer/prod7.jpeg'></img>
        </div>
        <div id='p_videoFour' class="image-container">
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">YUNGBLUD<br /><span class="video-title">Parents</span>
                </p>
            </div>
            <img class="bg" src='/images/producer/prod4.jpg'></img>
        </div>
        {{!-- <div id='p_videoFive' class="image-container hidden">
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Steve Aoki & Backstreet Boys<br /><span
                        class="video-title">Let It Be Me</span></p>
            </div>
            <img class="bg" src='/images/producer/prod2.jpg'></img>
        </div> --}}

        {{!-- See More --}}

        <div id='d_videoSab' class="image-container hidden">
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Sabrina Carpenter<br /><span
                        class="video-title">Fast Times</span></p>
            </div>
            <img class="bg" src='/images/director/sab.png'></img>
        </div>

        <div id='d_videoLen' class="image-container hidden">
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Lennon Stella<br /><span
                        class="video-title">Fancy</span></p>
            </div>
            <img class="bg" src='/images/director/len.png'></img>
        </div>
        <div id='d_videoChet' class="image-container hidden">
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Chet Faker<br /><span
                        class="video-title">Feel Good</span></p>
            </div>
            <img class="bg" src='/images/director/chet.png'></img>
        </div>

        <div id='d_videoJames' class="image-container hidden">
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">James Blake<br /><span
                        class="video-title">Famous Last Words</span></p>
            </div>
            <img class="bg" src='/images/director/james.png'></img>
        </div>

    </div>
    <p id='producerSeemore' class='seemore'>__See More__</p>
</div>

<div id='editor' class="individual-section">
    <div class="title-display">
        <p class="dots">• • • • • • • • • • • • • • </p>
        <h2 class='work-title'>Editor <span class='work-name'>Cal Laird</span></h2>
    </div>
    <div id='workGridContainer' class="work-grid-container">
        <div id='e_videoOne' class="image-container">
            <img class="bg" src='/images/editor/editor1.jpg'></img>
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">JEEP<br /><span class="video-title">The
                        Unknown</span>
                </p>
            </div>
        </div>
        <div id='e_videoTwo' class="image-container">
            <img class="bg" src='/images/editor/editor2.jpg'></img>
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Los Angeles Rams<br /></p>
            </div>
        </div>
        <div id='e_videoThree' class="image-container">
            <img class="bg" src='/images/editor/editor3.jpg'></img>
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">ScHoolboy Q<br /><span class="video-title">Lies
                        (feat.Ty Dolla $ign and YG)</span></p>
            </div>
        </div>
        <div id='e_videoFour' class="image-container">
            <img class="bg" src='/images/editor/editor4.jpg'></img>
            <div class='overlay'>
                <p id='textOverlay' class="centered artist-title">Social House<br /><span class="video-title">Haunt
                        You</span></p>
            </div>
        </div>
        </a>
    </div>
</div>

<div id='photographer' class="individual-section notopseemore">
    <div class="title-display">
        <p class="dots">• • • • • • • • • • • • • • </p>
        <h2 class='work-title'>Photographer <span class='work-name'>Daniel Prakopcyk</span></h2>
    </div>
    <div id='workGridContainer' class="work-grid-container">
        <div class="image-container">
            <img id='ph__videoOne' class="bg" src='/images/photo/1.png'></img>
        </div>
        <div class="image-container">
            <img id='ph_ph__videoTwo' class="bg" src='/images/photo/2.png'></img>
        </div>
        <div class="image-container">
            <img id='ph_videoThree' class="bg" src='/images/photo/3.png'></img>
        </div>
        <div class="image-container">
            <img id='ph_videoFour' class="bg" src='/images/photo/6.png'></img>
        </div>
        <div id='ph_videoFive' class="image-container hidden">
            <img class="bg" src='/images/photo/5.png'></img>
        </div>
        <div id='ph_videoSix' class="image-container hidden">
            <img class="bg" src='/images/photo/4.png'></img>
        </div>
        </a>
    </div>
    {{!-- <p id='photographerSeemore' class='seemore'>__See More__</p> --}}
</div>

<!-- The Modal 1 -->
<center>
    <div id="videoWrapper" class="modal">
        <div class='modal-content'>
            <span class="close">X</span>
            <iframe id='videoframe' width="80%" height="80%" src="" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</center>
</div>
{{!-- </div> --}}


<script>
    $(document).ready(function () {
        $('#loading').delay(3000).fadeOut(1000);
    });
</script>

{{!-- <script>
    // When the user scrolls down 50px from the top of the document, resize the header's font size
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            document.getElementById("header").style.fontSize = "30px";
            document.getElementById("header").style.padding = "12px 10px 12px 10px"
        } else {
            document.getElementById("header").style.fontSize = "5em";
            document.getElementById("header").style.padding = "1em 10px 12px 10px"
        }
    }
</script> --}}

<script>
    // Get the modal
    const modal = document.getElementById("videoWrapper");
    var directorSeemore = document.getElementById("directorSeemore");
    var producerSeemore = document.getElementById("producerSeemore");
    var photographerSeemore = document.getElementById("photographerSeemore");


    var d0_btn = document.getElementById("d_videoZero");
    var d_btn51 = document.getElementById("d_videoFiveOne");
    var d17_btn = document.getElementById("d_videoSeventeen");
    var d_btn5 = document.getElementById("d_videoFive");
    var d_btn = document.getElementById("d_videoOne");
    var d_btn7 = document.getElementById("d_videoSeven");
    var d27_btn = document.getElementById("d_videoTwentySeven");
    var d_btn12 = document.getElementById("d_videoTwelve");
    var d_btn13 = document.getElementById("d_videoJohnnyLove");
    var d_btn14 = document.getElementById("d_videoKevWoo");
    var d_btn15 = document.getElementById("d_videoMMC");
    var d_btn16 = document.getElementById("d_videoLayto");

    var d_btnmarc = document.getElementById("d_videoMarc");
    var d_btnrich = document.getElementById("d_videoRichKid");
    var d_btndram = document.getElementById("d_videoDram");
    var d_btnjer = document.getElementById("d_videoJer");


    var p_btn = document.getElementById("p_videoOne");
    var p_btn2 = document.getElementById("p_videoTwo");
    var p_btn3 = document.getElementById("p_videoThree");
    var p_btn4 = document.getElementById("p_videoFour");
    var p_btn5 = document.getElementById("p_videoFive");

    var p_btn6 = document.getElementById("d_videoSab");
    var p_btn7 = document.getElementById("d_videoLen");
    var p_btn8 = document.getElementById("d_videoChet");
    var p_btn9 = document.getElementById("d_videoJames");



    var e_btn = document.getElementById("e_videoOne");
    var e_btn2 = document.getElementById("e_videoTwo");
    var e_btn3 = document.getElementById("e_videoThree");
    var e_btn4 = document.getElementById("e_videoFour");

    var d_btn4 = document.getElementById("d_videoFour");

    var ph_btn5 = document.getElementById("ph_videoFive");
    var ph_btn6 = document.getElementById("ph_videoSix");

    var directorSeemoreClicked = false;
    $('#directorSeemore').click(() => {
        directorSeemoreClicked = !directorSeemoreClicked;
        swapSeemoreClicked('director')
    });

    var producerSeemoreClicked = false;
    $('#producerSeemore').click(() => {
        producerSeemoreClicked = !producerSeemoreClicked;
        swapSeemoreClicked('producer')
    });

    var photographerSeemoreClicked = false;
    $('#photographerSeemore').click(() => {
        photographerSeemoreClicked = !photographerSeemoreClicked;
        swapSeemoreClicked('photographer')
    });

    const swapSeemoreClicked = (type) => {

        if (type === 'director') {
            if (directorSeemoreClicked) {
                directorSeemore.innerHTML = '__Collapse__';                
                d_btn7.classList.remove('hidden');
                d_btn5.classList.remove('hidden');
                d27_btn.classList.remove('hidden');
                d_btn12.classList.remove('hidden');

                d_btnmarc.classList.remove('hidden');
                d_btnrich.classList.remove('hidden');
                d_btndram.classList.remove('hidden');
                d_btnjer.classList.remove('hidden');

                d_btn13.classList.remove('hidden');
                d_btn14.classList.remove('hidden');
                d_btn15.classList.remove('hidden');
                d_btn16.classList.remove('hidden');
            } else {
                directorSeemore.innerHTML = '__See More__';
                d_btn7.classList.add('hidden');
                d_btn5.classList.add('hidden');
                d27_btn.classList.add('hidden');
                d_btn12.classList.add('hidden');

                d_btnmarc.classList.add('hidden');
                d_btnrich.classList.add('hidden');
                d_btndram.classList.add('hidden');
                d_btnjer.classList.add('hidden');

                d_btn13.classList.add('hidden');
                d_btn14.classList.add('hidden');
                d_btn15.classList.add('hidden');
                d_btn16.classList.add('hidden');
            }
        }
        if (type === 'producer') {
            if (producerSeemoreClicked) {
                producerSeemore.innerHTML = '__Collapse__';
                p_btn6.classList.remove('hidden');
                p_btn7.classList.remove('hidden');
                p_btn8.classList.remove('hidden');
                p_btn9.classList.remove('hidden');
            } else {
                producerSeemore.innerHTML = '__See More__';
                p_btn6.classList.add('hidden');
                p_btn7.classList.add('hidden');
                p_btn8.classList.add('hidden');
                p_btn9.classList.add('hidden');
            }
        }
        if (type === 'photographer') {
            if (photographerSeemoreClicked) {
                photographerSeemore.innerHTML = '__Collapse__';
                ph_btn5.classList.remove('hidden');
                ph_btn6.classList.remove('hidden');
            } else {
                photographerSeemore.innerHTML = '__See More__';
                ph_btn5.classList.add('hidden');
                ph_btn6.classList.add('hidden');
            }
        }
    }

    // unused.. Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];


    d0_btn.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/56-drfTY8Yw';
    }
    d_btn51.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/fg4Nddg1DsM';
    }
    d17_btn.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/PRv2NaPZDoU';
    }
    d_btn5.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/Ue3supHDQvA';
    }
    d_btn.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/udLA_rwpCP8';
    }
    d_btn7.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/h3YXec5gJi0';
    }
    d27_btn.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/8HtgQ1XiKDo';
    }
    d_btn12.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/SpNn32HA0SI';
    }

    d_btnmarc.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/1hWhczCOO00';
    }
    d_btnrich.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/pA2ATChYnJI';
    }
    d_btndram.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/HLuQbbMnlK4';
    }
    d_btnjer.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/ctpwaCCbX1Y';
    }

    var d_btn13 = document.getElementById("d_videoJohnnyLove");
        d_btn13.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/tqozCsrbWS4';
    }

    var d_btn14 = document.getElementById("d_videoKevWoo");
        d_btn14.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/CPSRJmOGvkI';
    }

    var d_btn15 = document.getElementById("d_videoMMC");
        d_btn15.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/HPFEWN317Xw';
    }

    var d_btn16 = document.getElementById("d_videoLayto");
        d_btn16.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/CFztHf_yeSk';
    }

    p_btn.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://player.vimeo.com/video/337630607?color=fafafa&title=0&byline=0&portrait=0';
    }

    p_btn2.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/pzPElFdxMCM';
    }
    p_btn3.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/ssq6X6alZ3w';
    }
    p_btn4.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/oOWBsmgjmPo';
    }
    p_btn6.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/Gla5AzlHnS4';
    }
    p_btn7.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/Buq2ruaf-k0';
    }
    p_btn8.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/YyODHqG2Tz0';
    }
    p_btn9.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/9cRtWPeBilU';
    }

    e_btn.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://player.vimeo.com/video/332082943';
    }
    e_btn2.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://player.vimeo.com/video/310270361';
    }
    e_btn3.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/BxFk-6KppE4';
    }
    e_btn4.onclick = function () {
        modal.style.display = "block";
        document.getElementById('videoframe').src = 'https://www.youtube.com/embed/ZoiL_My3RV0';
    }


    span.onclick = function () {
        document.getElementById('videoframe').src = '';
        modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            console.log('true')
            modal.style.display = "none";
            document.getElementById('videoframe').src = '';
        }
    }
</script>