<div class='landing' id='landing'>
    <div class='content'>
        <h1 class='home-title'>PINE TREE PICTURES</h1>
        <div class="menu">
            <a href='/director'><p id='director'>Director</p></a>
            <a href='/producer'><p id='producer'>Producer</p></a>
            <a href='/editor'><p id='editor'>Editor</p></a>
            <a href='/photographer'><p id='photographer'>Photographer</p></a>
            <a href='/contact'><p id='contact'>Contact</p></a>
        </div>
    </div>  
</div>

<script>
    if (document.body.clientWidth > 769) {
        document.getElementById('director').onmouseover=function(){hoverBg('bg66.jpg');};
        document.getElementById('director').onmouseleave=function(){hoverBg('bg1.jpg');};
        document.getElementById('producer').onmouseover=function(){hoverBg('bg3.jpg');};
        document.getElementById('producer').onmouseleave=function(){hoverBg('bg1.jpg');};
        document.getElementById('editor').onmouseover=function(){hoverBg('bg4.jpg');};
        document.getElementById('editor').onmouseleave=function(){hoverBg('bg1.jpg');};
        document.getElementById('photographer').onmouseover=function(){hoverBg('bg5.png');};    
        document.getElementById('photographer').onmouseleave=function(){hoverBg('bg1.jpg');};
        document.getElementById('contact').onmouseover=function(){hoverBg('bgnew.png');};   
        document.getElementById('contact').onmouseleave=function(){hoverBg('bg1.jpg');};
        const hoverBg = (bg) => {
            document.getElementById('landing').style.background = `url('/images/${bg}')`;
        }
    }
</script>
{{!-- need too figure out image background hover link change bg with a fade --}}
{{!-- Ideas --}}
{{!-- Use jQuery function to fade in new bg img --}}
{{!-- find css property to change bg slowly...? --}}
{{!-- otherwise idk stackoverflow! --}}
{{!-- document.getElementById("landing").style.animation = "fadein 1.6s 1"; --}}
{{!-- document.getElementById("landing").style.animation = "fadein 5s 1"; --}}