@font-face {
  font-family: "DINCondensed-Bold";
  src: url("/assets/fonts/DINCondensed-Bold.ttf");
}
@font-face {
  font-family: "Sf-Prop-Display-Black";
  src: url("/assets/fonts/SF.otf");
}
.center {
  margin: auto;
  width: 50%;
}

.anim-hov-fast {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.btn_primary {
  width: 155px;
  height: 39px;
  color: #bcbcbe;
  background: #1b311e;
  border-radius: 3px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.btn_primary:hover {
  color: #EEF0F2;
  background: #254429;
}

.dots {
  color: #656565;
  font-size: 5px;
  margin-right: 2.4em;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .dots {
    color: #656565;
    font-size: 5px;
    margin-right: 2.4em;
    letter-spacing: 1px;
  }
}
a {
  color: #EEF0F2;
  text-decoration: none;
}

@font-face {
  font-family: "DINCondensed-Bold";
  src: url("/assets/fonts/DINCondensed-Bold.ttf");
}
@font-face {
  font-family: "Sf-Prop-Display-Black";
  src: url("/assets/fonts/SF.otf");
}
.center {
  margin: auto;
  width: 50%;
}

.anim-hov-fast {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.btn_primary {
  width: 155px;
  height: 39px;
  color: #bcbcbe;
  background: #1b311e;
  border-radius: 3px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.btn_primary:hover {
  color: #EEF0F2;
  background: #254429;
}

.dots {
  color: #656565;
  font-size: 5px;
  margin-right: 2.4em;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .dots {
    color: #656565;
    font-size: 5px;
    margin-right: 2.4em;
    letter-spacing: 1px;
  }
}
a {
  color: #EEF0F2;
  text-decoration: none;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.landing {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: url(/images/bg1.jpg) no-repeat center;
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-animation: fadein 4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s;
  /* Firefox < 16 */
  -ms-animation: fadein 4s;
  /* Internet Explorer */
  -o-animation: fadein 4s;
  /* Opera < 12.1 */
  animation: fadein 4s;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
}
.content .home-title {
  color: #EEF0F2;
  font-family: "Sf-Prop-Display-Black", serif;
  font-size: 48px;
  letter-spacing: 1px;
}
.content .menu {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.content .menu p {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 1em;
  color: #EEF0F2;
  font-size: 24px;
  cursor: pointer;
}
.content .menu p:hover {
  border-bottom: 2px solid #1F3822;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Internet Explorer */
@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  /* Specific to this particular image */
  .landing {
    -webkit-animation: slide 16s infinite ease-in-out;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slide 16s infinite ease-in-out;
    /* Firefox < 16 */
    -ms-animation: slide 16s infinite ease-in-out;
    /* Internet Explorer */
    -o-animation: slide 16s infinite ease-in-out;
    /* Opera < 12.1 */
    animation: slide 16s infinite ease-in-out;
  }
  .landing .content {
    width: 100%;
    position: absolute;
    top: auto;
    left: auto;
    transform: none;
    text-transform: uppercase;
    text-align: center;
  }
  .landing .content .home-title {
    margin-top: 3em;
    font-size: 2em;
    letter-spacing: 1px;
  }
  .landing .content .menu {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .landing .content .menu p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    padding: 0;
  }
}
@keyframes slide {
  0% {
    background-image: url(/images/bg1.jpg);
  }
  20% {
    background-image: url(/images/bgnew.png);
  }
  40% {
    background-image: url(/images/bg3.jpg);
  }
  60% {
    background-image: url(/images/bg4.jpg);
  }
  80% {
    background-image: url(/images/bg5.png);
  }
  100% {
    background-image: url(/images/bg6.jpg);
  }
}
@font-face {
  font-family: "DINCondensed-Bold";
  src: url("/assets/fonts/DINCondensed-Bold.ttf");
}
@font-face {
  font-family: "Sf-Prop-Display-Black";
  src: url("/assets/fonts/SF.otf");
}
.center {
  margin: auto;
  width: 50%;
}

.anim-hov-fast {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.btn_primary {
  width: 155px;
  height: 39px;
  color: #bcbcbe;
  background: #1b311e;
  border-radius: 3px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.btn_primary:hover {
  color: #EEF0F2;
  background: #254429;
}

.dots {
  color: #656565;
  font-size: 5px;
  margin-right: 2.4em;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .dots {
    color: #656565;
    font-size: 5px;
    margin-right: 2.4em;
    letter-spacing: 1px;
  }
}
a {
  color: #EEF0F2;
  text-decoration: none;
}

.individual-section {
  width: 100%;
  height: 100%;
  color: #EEF0F2;
  margin: 0 auto;
  display: block;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.individual-section .title-display {
  display: flex;
  width: 70%;
  align-content: center;
  align-items: center;
}
.individual-section .work-title {
  font-family: "Sf-Prop-Display-Black", serif;
  color: #EEF0F2;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1.2px;
  margin: 0;
}
.individual-section .work-name {
  color: #0B0B0B;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: -1px -1px 0 rgba(176, 175, 175, 0.882), 1px -1px 0 rgba(176, 175, 175, 0.882), -1px 1px 0 rgba(176, 175, 175, 0.882), 1px 1px 0 rgba(176, 175, 175, 0.882);
  margin: 0;
  cursor: pointer;
}
.individual-section .work-name:hover {
  color: #1F3822;
}
.individual-section .seemore {
  color: #EEF0F2;
  font-size: 1.5em;
  margin-bottom: 4em;
  text-align: center;
}
.individual-section .seemore:hover {
  color: #1F3822;
  cursor: pointer;
}
.individual-section .work-grid-container {
  width: 70%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.individual-section .work-grid-container img, .individual-section .work-grid-container p {
  text-align: center;
  font-size: 30px;
  width: 100%;
  font-family: "DINCondensed-Bold", serif;
  letter-spacing: 1px;
}
.individual-section .work-grid-container .video-title {
  font-family: "DINCondensed-Bold", serif !important;
}
.individual-section .work-grid-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(12, 12, 12, 0.548);
}
.individual-section .work-grid-container .image-container:hover .overlay {
  opacity: 1;
}
.individual-section .work-grid-container .textOverlay {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.popup {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.show-popup .popup {
  opacity: 1;
  visibility: visible;
}

.popup > iframe {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -280px;
}

iframe {
  height: 100%;
}

.bg {
  width: 100%;
  display: block;
}

.image-container {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .individual-section {
    width: 100%;
    height: 100%;
    color: #EEF0F2;
    margin: 0 auto;
    display: block;
  }
  .individual-section .title-display {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-content: flex-start;
    align-items: flex-start;
  }
  .individual-section .title-display .work-title {
    display: flex;
    flex-direction: column;
    font-size: 1.8em;
  }
  .individual-section .title-display .work-name {
    font-size: 0.8em;
  }
  .individual-section .work-grid-container {
    margin-top: 1em;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    padding: 10px;
  }
  .individual-section .work-grid-container img {
    text-align: center;
    font-size: 30px;
    width: 100%;
  }
  .individual-section .work-grid-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(12, 12, 12, 0.173);
  }
  .individual-section .work-grid-container .image-container .overlay {
    opacity: 1;
  }
}
@font-face {
  font-family: "DINCondensed-Bold";
  src: url("/assets/fonts/DINCondensed-Bold.ttf");
}
@font-face {
  font-family: "Sf-Prop-Display-Black";
  src: url("/assets/fonts/SF.otf");
}
.center {
  margin: auto;
  width: 50%;
}

.anim-hov-fast {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.btn_primary {
  width: 155px;
  height: 39px;
  color: #bcbcbe;
  background: #1b311e;
  border-radius: 3px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.btn_primary:hover {
  color: #EEF0F2;
  background: #254429;
}

.dots {
  color: #656565;
  font-size: 5px;
  margin-right: 2.4em;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .dots {
    color: #656565;
    font-size: 5px;
    margin-right: 2.4em;
    letter-spacing: 1px;
  }
}
a {
  color: #EEF0F2;
  text-decoration: none;
}

.contact-page {
  z-index: 111;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: url(/images/bg6.jpg) no-repeat center;
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-animation: fadein 4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s;
  /* Firefox < 16 */
  -ms-animation: fadein 4s;
  /* Internet Explorer */
  -o-animation: fadein 4s;
  /* Opera < 12.1 */
  animation: fadein 4s;
}
.contact-page .content {
  padding-top: 6em;
  padding-bottom: 3.6em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
.contact-page .write-us {
  color: #EEF0F2;
  font-size: 2em;
  text-align: center;
  margin-top: -12px;
  font-family: "Sf-Prop-Display-Black", serif;
}
.contact-page .contact-form {
  display: flex;
  flex-direction: column;
}
.contact-page .contact-form input, .contact-page .contact-form textarea {
  color: #EEF0F2;
  font-size: 1.2em;
  padding-bottom: 0.5em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  background-color: #0b0b0bd2;
  padding-top: 8px;
  border-radius: 4px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid #1F3822;
}
.contact-page .contact-form textarea {
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.contact-page .contact-form input:hover, .contact-page .contact-form textarea:hover {
  border-bottom: 3px solid #EEF0F2;
  background-color: #0B0B0B;
}
.contact-page .contact-form input:active, .contact-page .contact-form textarea:active {
  border-bottom: 3px solid #EEF0F2;
  background-color: #0B0B0B;
}

@media screen and (max-width: 768px) {
  .contact-page {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-gap: inherit;
    padding: 0;
  }

  .content {
    grid-template-columns: auto !important;
  }
}
html, body {
  background-color: #0B0B0B;
  height: 100vh;
  font-family: "DINCondensed-Bold", serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.logo {
  font-family: "Sf-Prop-Display-Black", serif;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  margin-top: -8px;
}

.close:hover,
.close:focus {
  color: #1F3822;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  background-color: black;
  padding: 1em;
  height: 80%;
}

/*# sourceMappingURL=styles.css.map */
